@model PIM_VIII.Models.Pessoa

@{
    ViewData["Title"] = "Pessoas";
}

<div class="text-center">
    <h1 class="display-4">Pessoa(s)</h1>
    <p>Pessoa Detalhes.</p>
    <h1>@Model.Nome</h1>
    <hr/>
    <h2>@Model.CPF</h2>
</div>
